
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,400;1,500&family=Roboto+Slab&display=swap');

*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
}

body
{
	font-family: Raleway,sans-serif;
	background-color: white;

}

section
{
	max-width: 1400px;
}

/*Flexbox*/
.flex-centre
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-around
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.flex-between
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-column-centre
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-column-around
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.flex-column-between
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.decoration-none
{
	text-decoration: none;
}

.bordure-none
{
	border: none;
}

.texte-gras
{
	font-weight: bold;
}

.color-bleu
{
	color: #0065fc;
}

.color-bleu-clair
{
	color: #deebff;
}

.color-gris
{
	color: #f2f2f2;
}

.texte-populaires
{
	padding: 30px 0 30px 0;
	font-weight:600;
}

/*Fin Flexbox*/
/*--Nav--*/
header
{
	margin:0 auto;
	background-color: white;
	max-width: 1440px;
}

nav
{
	display: flex;
	justify-content: space-between;
	font-family: "Raleway", sans-serif;
}

.navigation
{
	font-family: Raleway, sans-serif;
	background-color: white;
}

nav img
{
	margin-top:40px;
	width: 88px;
	height:45px;
}

nav ul
{
	display: flex;
	margin: 0;
}

nav ul li
{
	font-weight: 400;
	list-style-type: none !important;
	width: 100%;
}

nav ul li a
{
	text-decoration: none;
	color: inherit;
	font-size: 18px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	height: 99px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	justify-content: center;
}

nav ul a:hover
{
	border-top: 2px solid #0065fc;
	color: #0065fc;
}

a.active
{
	border-top: 2px solid #0065fc !important;
	border-bottom: 3px solid transparent;
	color: #0065fc;
}

/*--Fin Nav--*/
/*Barre de recherche*/

main
{
	font-family: "Raleway", sans-serif;
	max-width: 1440px;
	margin:0 auto;
}

.container-search
{
	margin-top:33px;
	
}

.container-search h1
{
	font-weight: bold;
	font-size:21px;
	color:black;
}

::placeholder
{
	color: black;
}

.container-search p
{
	font-size:15px;
	color: black;
	padding: 5px;
}

.box-search
{
	margin-top: 20px;
	display: flex;
}

.icon
{
	height: 50px;
	width: 50px;
	border-radius: 10px 0 0 10px;
	background-color: #f2f2f2;
}

form
{
	display: flex;
	flex-direction: row;
}

.research
{
	width:100%;
	height: 50px;
	font-size: 17px;
	color: black;
	color: inherit;
	font-weight: bold;
	padding-left: 20px;
	border: 1px solid #f2f2f2;
}

.search-button
{
	height: 50px;
	width: 50%;
	font-size: 17px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
	background-color: #0065fc;
	border: none;
}

.mobile-yes
{
	display: none;
}

/* Fin Barre de recherche*/
/*Filters*/

.container-filters
{
	display:flex;
	flex-direction:row;
	height:fit-content;
	gap:15px;
	margin-top:20px;
	}

.container-filters h2
{
	font-weight: 600;
	font-size: 18px;
	margin-top: 10px;
	color: black;
	line-height: 42px;
}

.container-filters ul
{
	display: flex;
	flex-direction: row;
	gap:20px;
}

.filters a
{
	color:black;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
}

.container-filters .filters
{
	display: flex;
	align-items: center;
	border:2px solid #d9d9d9;
	border-radius: 40px;
	padding: 0 10px 0 0;
	transition: 2.3s;
	cursor: pointer;
}

.filters i
{
	background-color: #deebff;
	width: 48px;
	height:48px;
	color: #0065fc;
	border-radius: 50%;
	font-size: 18px;
	margin: 0 12px 0 -1px;
	line-height: 48px;
}


li.filters:hover
{
	cursor: pointer;
	transform: scale(1.1);
	background:#0065fc;
}

.filters a:hover
{
	color:#ffff;
}

/*Fin filters*/
/*info*/
.info

{
	margin-top:20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	
}

.info p
{
	font-size: 17px;
}

.back-gris
{
	width: 24px;
	height: 24px;
	border: 2px solid #f2f2f2;
	border-radius: 25px;
	margin-right: 13px;
	padding: 2px 0 0 7px;
	font-size: 13px;
	font-weight: bold;
}

/* Fin info*/
/*Aside the popular*/
aside
{
	max-width: 1440px;
	background: #f2f2f2;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	padding: 0px 15px 25px 15px;
	
}

.popular-block
{
	margin:0;
	width:31%;
	max-width: 415px;
	margin-top:0;
	position:inherit;
}

.heading
{
	display: flex;
	flex-direction: row;
	padding: 30px 3px 23px 7px;
	font-weight: bold;
	font-size: 21px;
	align-items: center;
	justify-content: space-between;
}

.heading h2
{
	font-size: 21px;
	font-weight: 900;
}

ul.popular-container
{
	border-radius: 20px;
	padding:0;
}

.popular-container li
{
	width: 100%;
	margin: 0;
	padding: 5px;
	position: relative;
	list-style-type: none;
}

.popular-card
{
	width: inherit;
	display: flex;
	background-color: white;
	padding: 1.5% 1.5% 1.5% 1.5%;
	border-radius: 20px;
	margin-bottom: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.popular-card:hover
{
	cursor: pointer;
	transform:scale(1.1);
}

.popular-desc
{
	width: 44%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 16px;
	margin-top:10px;
}

.popular-desc h3
{
	font-size:15px;
}

.popular-desc p
{
	font-size: 13px;
	margin-top:14px;
}

.icon-star
{
	align-content: center;
	font-size:21px;
}

.img-popular1
{
	object-fit: cover;
	width: 123px;
	height: 131px;
	border-radius: 15px 0 0 15px;
}

.img-popular2
{
	object-fit: cover;
	width: 123px;
	height: 131px;
	border-radius: 15px 0 0 15px;
}

.img-popular3
{
	object-fit: cover;
	width: 123px;
	height: 131px;
	border-radius: 15px 0 0 15px;
}

.popular-star
{
	font-size:11px;
	margin-top:8px;
}

.container-size
{
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* Fin section Populaires */
/*Accommodation in Marseilles*/
.booking-container
{
	height: 600px;
	margin: 0;
	max-width: 950px;
	padding: 0;
	flex-basis: 67%;
}

.marseilles-container
{
	background-color:#F2F2F2;
	border-radius: 20px;
	height:100%;
	padding: 30px;
}

.marseilles-container h2
{
	margin-left:15px;
	font-size: 21px;
	font-weight: bold;
	margin-top:7px;
	margin-bottom: 30px;
	color: black;
}

#cards-container
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0;
	width:238px;
}

ul#cards-container
{
	margin-left:15px;
	display: flex;
	flex-wrap:wrap;
	gap: 20px;
	width: 100%;
	margin-top:30px;
}

#cards-container li
{
	float: left;
	margin: 0;
	padding: 5px;
	position: relative;
	width: 150px;
	display: contents;
	list-style-type: none;
	width: 100%;
}

.card-hotel
{
	width: 30%;
	height: auto;
	background-color: white;
	padding: 0.7%;
	border-radius: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

article a
{
	text-decoration: none;
	color: inherit;
}

.card-hotel:hover
{
	cursor: pointer;
	transform: scale(1.1);
}

.card-desc
{
	width: 90%;
	line-height: 19px;
	margin-left: 10px;
}

.card-desc h3
{
	font-size:15px;
}

.card-desc p
{
	font-size:13px;
}

.img-hotel1
{
	object-fit: cover;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.img-hotel2
{
	object-fit: cover;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.img-hotel3
{
	object-fit: cover;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.hotel4
{
	object-fit: cover;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.img-hotel5
{
	object-fit: cover;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.img-hotel6
{
	object-fit: cover;
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
}

.show-more
{
	margin:40px 0 0 15px;
	font-weight: bold;
	font-size: 17px;
	color: black;
}

.star-desc
{
	font-size:11px;
}

/*Fin section-2 Accommodation in Marseilles*/

/*partie activités*/

.activites {
	display: flex;
	flex-direction: column;
	margin:0 auto;
	margin-top: 40px;
  }

  .card-activites {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 40px;
  }

  .big-title
  {
	  display: flex;
	  align-content: space-around;
	  margin: 30px 0;
  }
  
  .activite-card-one:hover
{
	cursor: pointer;
	transform: scale(1.03);
}

  .act-card-title {
	margin-left: 20px;
	font-weight: bold;
	padding: 10px 10px;
  }

  .activite-card-one {
	width: 25%;
	min-width: 150px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 15px;
  }
  
  .img-activite-big {
	border: none;
	height: 445px;
	
  }
  .img-activite-big img {
	height: 390px;
	width: 100%;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
  }
  
  .card-activites-double {
	display: flex;
	flex-direction: column;
	width: 25%;
	min-width: 150px;
	gap: 45px;
	
  }
  .act-img-xl {
	height: 235px;
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 15px;
  }

  .act-img-xl:hover
  {
	  cursor: pointer;
	  transform: scale(1.03);
  }

  .act-img-xl img {
	height: 181px;
	width: 100%;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
  }
  
  .act-img-small {
	border: none;
	height: 165px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 15px;
  }


  .act-img-small:hover
  {
	  cursor: pointer;
	  transform: scale(1.03);
  }
  
  .act-img-small img {
	height: 110px;
	width: 100%;
	object-position: center;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
  }
  
  .act-img-medium {
	border: none;
	height: 195px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 15px;
  }

  .act-img-medium:hover
  {
	  cursor: pointer;
	  transform: scale(1.03);
  }
  
  
  .act-img-medium img {
	height: 139px;
	width: 100%;
	object-position: top;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
  }
  
  .act-img-large {
	border: none;
	height: 205px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 15px;
  }

  
  .act-img-large:hover
  {
	  cursor: pointer;
	  transform: scale(1.03);
  }
  
  .act-img-large img {
	height: 154px;
	width: 100%;
	object-fit: cover;
	border-radius: 15px 15px 0 0;

  }


footer
{
	height: 209px;
	margin-top:50px;
	background-color:#F2F2F2;
	margin-left:0;
}

.footer-container

{
	margin-top: 34px;
	padding: 60px 1px 0 40px;
	display: flex;
	justify-content: center;
}

footer h3
{
	color:black;
	font-weight:900;
}

.footer-container h3
{
	margin-bottom: 20px;
	font-size:18px;
}

.about ul
{
	list-style-type: none;
	line-height: 1.6;
	font-size: 17px;
}

.our-accommodations ul
{
	list-style-type: none;
	line-height: 1.6;
	font-size: 17px;
}

.assistance  ul
{
	list-style-type: none;
	line-height: 1.6;
	font-size: 17px;
}

.about
{
	flex-grow: 1;
flex-basis: 100%}

.our-accommodations
{
	flex-grow: 1;
	flex-basis: 100%;
}

.assistance
{
	flex-grow: 1;
	flex-basis: 100%;
}

a
{
	text-decoration: none;
	color: black;
}

@media only screen and (max-width: 991px) 

{
	body
	{
		min-width:100%;
		margin:0 auto;
	}

	header
	{
		text-align: center;
		margin-left:0;
	}

	.navigation
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-bottom: 3px solid#f2f2f2;
		margin-top: 3%;
		min-width: 100%;
	}

	.navigation nav a
	{
		width: 100%;
		text-align: center;
	}

	nav img
	{
		margin-top:5%;
	}

	a.active
	{
		border-top: 2px solid transparent !important;
		border-bottom: 3px solid #0065fc;
		font-size: 18px;
	}

	nav ul
	{
		padding:0;
		min-width:100%;
	}

	nav ul li
	{
		display: flex;
		justify-content: center;
	}

	nav ul a:hover
	{
		border-bottom: 3px solid #0065fc;
		border-top: 2px solid transparent !important;
		min-width: 100%;
	}

	.container-search
	{
		margin-top:7%;
		margin-left:6%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	::placeholder
	{
		color: black;
	}

	.container-search h1
	{
		font-size: 23px;
		min-width: 100%;
	}

	.container-search p
	{
		font-size: 16px;
		color: black;
		padding: 2% -4%;
	}

	.box-search
	{
		height: auto;
		width:100%;
		align-items: center;
	}

	.research
	{
		width: 73%;
		border-left: none;
		border-right: none;
	}

	.mobile-none
	{
		display: none;
	}

	.mobile-yes
	{
		display:block;
	}

	form
	{
		width:100%;
	}

	.search-button
	{
		display: block;
		width: 55px;
		height: 50px;
		border-radius: 15px 15px 15px 15px;
	}

	.icon
	{
		padding: 15px 20px 10px 20px;
	}

	.container-filters
	{

		display: flex;
		flex-direction: column;
	    margin-bottom: 7%;
		margin-left:6%;
	}

	.container-filters h2
	{
		font-size:20px;
	}

	.container-filters ul
	{
		display: flex;
		flex-wrap:wrap;
	}

	.info
	{
		margin:0;
		display: flex;
		margin-bottom:10%;
		padding: 0 0 0 7%;
	}

	.container-size
	{
		margin: 0 auto;
		padding:0;
		display: flex;
		flex-direction: column-reverse;
	}

	aside
	{
		min-width: 100%;
		margin: 0 auto;
		border-radius:0;
		padding: 0;
	}

	.heading

	{
		padding: 5% 5% 5% 6%;
	}

	.star-popular
	{
		margin: 0;
	}

	.popular-container h2
	{
		min-width: 100%;
		font-size: 26px;
	}

	.popular-block
	{
		margin:0;
		padding:0;
	}

	ul.popular-container
	{
		padding: 3% 4%;
		margin-bottom: 10%;
	}

	.popular-desc
	{
		margin: 0;
		position: relative;
		display: flex;
		flex-direction: column;
		height: 84%;
		margin-left: 7%;
		margin-top: 2%;
	}

	.popular-desc h2,p
	{
		font-size: 18px;
	}

	.popular-card
	{
		height: 141px;
		padding: 4px;
	}

	.img-popular1,
	.img-popular2,
	.img-popular3 {

		height: 100%;
		width: 30%;
		object-fit: cover; }

	/*Accommodation in Marseilles*/

	.booking-container
	{
		margin: 0 auto;
		height: auto;
		min-width: 100%;
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 0px;
	}

	.marseilles-container h2
	{
		text-align: left;
	}

	.marseilles-container

	{
		margin:0 auto;
		padding: 8% 5% 0 5%;
		min-width: 100%;
		height: 100%;
		background-color: transparent;
	}

	ul#cards-container{
		margin:0 ;
		
	}

	.card-hotel
	{
		width: 100%;
	}

	.img-hotel1
	{
		max-width: 100%;
	}

	.card-desc
	{
		height: 55px;
		line-height: 17px;
		padding: 0 0 0 8px;
	}

	/* End accommodation in Marseilles*/
	/*Section activities*/

	.activites{
		height: fit-content;
		display: flex;
		flex-direction: column;
	    justify-content: space-around;
		width: 90%;
	}

	.card-activites {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
		min-width: 94%;

	  }

	  .act-card-title {
		margin: 10px;
	  }

	  .activite-card-one{
		width: 100%;
	

	  }

	  .img-activite-big,
	  .act-img-large,
	  .act-img-medium,
	  .act-img-xl,
	  .act-img-small {
		height: 191px;
	  }
	
	  .img-activite-big img,
	  .act-img-large img,
	  .act-img-medium img,
	  .act-img-xl img,
	  .act-img-small img {
		height: 135px;
		object-fit: cover;
		object-position: center;
	  }
	
	  .card-activites-double {
		gap: 24px;
		width: 100%;
	  }
  
	/*End section activités*/

	footer
	{
		min-width:100%;
	}

	.footer-container
	{
		bottom: 0;
		flex-direction: column;
		align-items: flex-start;
		height: 400%;
		padding-left: 5%;
	}

	.about
	{
		margin-top:0;
		margin-bottom: 10%;
	}

	.our-accommodations
	{
		margin-bottom: 10%;
	}

	.assistance
	{
		margin-bottom: 13%;
	}

}
	
/*Responsive mobile*/

@media only screen and (max-width: 768px) 

{
	
	body
	{
		min-width:100%;
		margin:0 auto;
	}

	header
	{
		text-align: center;
		margin-left:0;
	}

	.navigation
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-bottom: 3px solid#f2f2f2;
		margin-top: 3%;
		min-width: 100%;
	}

	.navigation nav a
	{
		width: 100%;
		text-align: center;
	}

	nav img
	{
		margin-top:5%;
	}

	a.active
	{
		border-top: 2px solid transparent !important;
		border-bottom: 3px solid #0065fc;
		font-size: 18px;
	}

	nav ul
	{
		padding:0;
		min-width:100%;
	}

	nav ul li
	{
		display: flex;
		justify-content: center;
	}

	nav ul a:hover
	{
		border-bottom: 3px solid #0065fc;
		border-top: 2px solid transparent !important;
		min-width: 100%;
	}

	.container-search
	{
		margin-top:7%;
		margin-left:6%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	::placeholder
	{
		color: black;
	}

	.container-search h1
	{
		font-size: 23px;
		min-width: 100%;
	}

	.container-search p
	{
		font-size: 16px;
		color: black;
		padding: 2% -4%;
	}

	.box-search
	{
		height: auto;
		width:100%;
		align-items: center;
	}

	.research
	{
		width: 73%;
		border-left: none;
		border-right: none;
	}

	.mobile-none
	{
		display: none;
	}

	.mobile-yes
	{
		display:block;
	}

	form
	{
		width:100%;
	}

	.search-button
	{
		display: block;
		width: 55px;
		height: 50px;
		border-radius: 15px 15px 15px 15px;
	}

	.icon
	{
		padding: 15px 20px 10px 20px;
	}

	.container-filters
	{

		display: flex;
		flex-direction: column;
	    margin-bottom: 7%;
		margin-left:6%;
	}

	.container-filters h2
	{
		font-size:20px;
	}

	.container-filters ul
	{
		display: flex;
		flex-wrap:wrap;
	}

	.info
	{
		margin:0;
		display: flex;
		margin-bottom:10%;
		padding: 0 0 0 7%;
	}

	.container-size
	{
		margin: 0 auto;
		padding:0;
		display: flex;
		flex-direction: column-reverse;
	}

	aside
	{
		min-width: 100%;
		margin: 0 auto;
		border-radius:0;
		padding: 0;
	}

	.heading
	{
		padding: 10% 5% 10% 6%;
	}

	.star-popular
	{
		margin: 0;
	}

	.popular-container h2
	{
		min-width: 100%;
		font-size: 26px;
	}

	.popular-block
	{
		margin:0;
		padding:0;
	}

	ul.popular-container
	{
		margin-bottom: 10%;
	}

	.popular-desc
	{
		margin: 0;
		position: relative;
		display: flex;
		flex-direction: column;
		height: 84%;
		margin-left: 7%;
		margin-top: 2%;
	}

	.popular-desc h2,p
	{
		font-size: 18px;
	}

	.popular-card
	{
		height: 141px;
	}

	.img-popular1,
	.img-popular2,
	.img-popular3 {

		height: 100%; }

	/*Accommodation in Marseilles*/

	.booking-container
	{
		margin: 0 auto;
		height: auto;
		min-width: 100%;
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 0px;
	}

	.marseilles-container h2
	{
		text-align: left;
	}

	.marseilles-container

	{
		margin:0 auto;
		padding: 8% 5% 0 5%;
		min-width: 100%;
		height: 100%;
		background-color: transparent;
	}

	ul#cards-container{
		margin:0 ;
		
	}

	.card-hotel
	{
		width: 100%;
	}

	.img-hotel1
	{
		max-width: 100%;
	}

	.card-desc
	{
		height: 55px;
		line-height: 17px;
		padding: 0 0 0 8px;
	}

	/* End accommodation in Marseilles*/
	/*Section activities*/

	.activites {
		margin: 14px auto;
	  }
	  .card-activites {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
      
	  }
	  .activite-card-one {
		width: 99%;
	  }
	  .img-activite-big,
	  .act-img-large,
	  .act-img-medium,
	  .act-img-xl,
	  .act-img-small {
		height: 191px;
	  }
	
	  .img-activite-big img,
	  .act-img-large img,
	  .act-img-medium img,
	  .act-img-xl img,
	  .act-img-small img {
		height: 135px;
		object-fit: cover;
	  }
	
	  .card-activites-double {
		gap: 24px;
		width: 100%;
	  }

	.big-title
	{

		margin: 40px 10px 33px 10px;
	}

	
	/*End section activités*/
	footer
	{
		min-width:100%;
	}

	.footer-container
	{
		bottom: 0;
		margin-top:10%;
		flex-direction: column;
		align-items: flex-start;
		height: 400%;
		padding-left: 5%;
	}

	.about
	{
		margin-top:0;
		margin-bottom: 10%;
	}

	.our-accommodations
	{
		margin-bottom: 10%;
	}

	.assistance
	{
		margin-bottom: 13%;
	}
	
}